body{
    font-family: verdana;

}

h1{
    font-size: 1.25rem;
    text-transform: uppercase;
}

h2{
    font-size: 0.75rem;
    margin-bottom: 2rem;

}


.bdd{
    font-size: 0.75rem;
}

table{
    border-collapse: collapse;
    margin-bottom: 0.75rem;
    width: 18rem;
}
td{
    border-bottom: thin solid rgb(185, 185, 189);
    width: 7rem;
    text-align: left;
}

Footer, p{
    font-size: 0.5625rem;
    color:  rgb(137, 137, 145);
}

